<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Check Picsart Web" verbose="1">
    <test name="Verify filter btn functionality" parallel="methods" thread-count="1">
        <classes>
            <class name="web.SearchPageTest"/>
        </classes>
    </test>
</suite>